.search {
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1e1e1e;
    color: #ffcc70;
    font-size: 20px;
  }

  .forecast-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
  }
  

  .forecast-form input {
    padding: 12px 16px;
    width: 280px;
    border-radius: 40px; 
    font-size: 16px;
    margin: 6px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
    transition: transform 0.2s ease;
    background-image: url('https://www.svgrepo.com/show/503086/cloud.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    color: #1e1e1e;

  }
  
  .forecast-form input:disabled {
    opacity: 0.8;
    color: white;
  }
  
  .forecast-form input::placeholder {
    color: #999;
  }
  
  
    .forecast-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  

  .search-container {
    display: flex;
    justify-content: center;
    margin-top: 40px; 
  }

  .search-input {
    
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: #3d3d3d;
    color: #ffcc70;
    min-width: 265px;
    margin-right: 5px;
    padding: 5px;
  }

  .search-btn{
    background-color: #ffcc70;
    color: #1e1e1e;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    box-shadow: 0 0 10px rgba(255, 204, 112, 0.3);
  }

  .search-btn:hover{
    background-color: #ffd991;
  transform: scale(1.05);
  cursor: pointer;
  }

  .weather-info {
    display: flex;
    flex-direction: column;
  }
  
  .weather-info label {
    margin-bottom: 5px;
    color: #ffcc70;
    font-weight: bold;
    font-size: 16px;
  }
  
  .weather-info input {
    padding: 12px 16px;
    border-radius: 40px;
    font-size: 16px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
    background-image: url('https://www.svgrepo.com/show/503086/cloud.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    color: #1e1e1e;
  }
  
  .search.sunny {
    background-image: url('../../../public/images/sun.png');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  
  .search.cloudy {
    background-image: url('/images/cloudy.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    
  }
  
